.left-nav-header{
    height: 80px;
    display: flex;
    align-items: center;
    background-color:#1890ff;
}
.left-nav-header h1{
    color:#fff;
    font-size:20px;
    margin-bottom: 0;
    font-weight: bold;
}
.left-nav-header img{
    width: 50px;
    margin:0 15px;
}
